*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* -------------------------------- 

Patterns - reusable parts of our design

-------------------------------- */
@media only screen and (min-width: 1170px) {
  .cd-is-hidden {
    visibility: hidden;
  }
}

/* -------------------------------- 

Resource style 

-------------------------------- */

.cd-timeline {
  overflow: hidden;
  margin: 2em auto;
}

.cd-timeline__container {
  position: relative;
  width: 70%;
  max-width: 70%;
  margin: 0 auto;
  padding: 2em 0;
}

.cd-timeline__container::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 4px;
  height: 100%;
  width: 8px;
  background: #2C3491;
}

@media only screen and (min-width: 1170px) {
  .cd-timeline {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  .cd-timeline__container::before {
    left: 48%;
    margin-left: -2px;
  }
}
@media only screen and (min-width: 1200px) {
  .cd-timeline {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  .cd-timeline__container::before {
    left: 47.5%;
    margin-left: -2px;
  }
}


.cd-timeline__block {
  position: relative;
  margin: 2em 0;
}

.cd-timeline__block:after {
  /* clearfix */
  content: "";
  display: table;
  clear: both;
}

.cd-timeline__block:first-child {
  margin-top: 0;
}

.cd-timeline__block:last-child {
  margin-bottom: 0;
}

@media only screen and (min-width: 1170px) {
  .cd-timeline__block {
    margin: 2em 0;
  }
}

.cd-timeline__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 8px #2C3491, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 0 8px #2C3491, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}

.cd-timeline__img img {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -12px;
}

.indicator{
  background: #2C3491;
}

.indicator-pending {
  background: #fff;
}


@media only screen and (min-width: 1170px) {
  .cd-timeline__img {
    width: 25px;
    height: 25px;
    left: 50%;
    margin-left: -30px;
    /* Force Hardware Acceleration */
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
  .cd-timeline__img.cd-timeline__img--bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.6s;
            animation: cd-bounce-1 0.6s;
  }
}

@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.cd-timeline__content {
  position: relative;
  margin-left: 60px;
  background: white;
  border-radius: 0.25em;
  padding: 1em;
  
}

.cd-timeline__content:after {
  /* clearfix */
  content: "";
  display: table;
  clear: both;
}

.cd-timeline__content::before {
  /* triangle next to content block */
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white;
}

.cd-timeline__content h2 {
  color: #303e49;
  font-size: 1.5em;
}

.cd-timeline__content p,
.cd-timeline__read-more,
.cd-timeline__date {
  font-size: 1.3rem;
}

.cd-timeline__content p {
  margin: 1em 0;
  line-height: 1.6;
}

.cd-timeline__read-more,
.cd-timeline__date {
  display: inline-block;
}

.cd-timeline__read-more {
  float: right;
  padding: .8em 1em;
  background: #acb7c0;
  color: white;
  border-radius: 0.25em;
}

.cd-timeline__read-more:hover {
  background-color: #bac4cb;
}

.cd-timeline__date {
  float: left;
  padding: .8em 0;
  opacity: .7;
}

@media only screen and (min-width: 768px) and (max-width: 1024px){
  .cd-timeline__content h2 {
    font-size: 1.5em;
    font-weight: 500;
    width: 8em;
    background-color: #2C3491;
    margin-top: 3em;
    padding-bottom: 1em;
    padding-top: 1em;
    text-align: center;
    color: white;
    
  }
  .cd-timeline__content p {
    font-size: 1.6rem;

  }
  .cd-timeline__read-more,
  .cd-timeline__date {
    font-size: 1em;
  }
  .cd-timeline__date > .note {
  padding-bottom: 2em;
  }

.cd-timeline__date {
  float: left;
  padding-bottom: 2em !important;
  padding-top: 0em !important;
  padding-right: 0em !important;
  padding-left: 0em !important;
  opacity: .7;
}

}

@media only screen and (min-width: 1170px) {
  .cd-timeline__content {
    margin-left: 6%;
    margin-right: 12%;
    padding: 1em;
    width: 35%;
    /* Force Hardware Acceleration */
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
            background-color: #55DFFF;
  }

  .cd-timeline__content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: #55DFFF;
  }
  .cd-timeline__read-more {
    float: left;
  }
  .cd-timeline__date {
    position: absolute;
    width: 100%;
    left: 136%;
    top: 6px;
    font-size: 1em;
  }
  .cd-timeline__block:nth-child(even) .cd-timeline__content {
    float: right;
  }
  .cd-timeline__block:nth-child(even) .cd-timeline__content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: #55DFFF;
  }
  .cd-timeline__block:nth-child(even) .cd-timeline__read-more {
    float: right;
  }
  .cd-timeline__block:nth-child(even) .cd-timeline__date {
    left: auto;
    right: 137%;
    text-align: right;
  }

}

@media only screen and (min-width: 1170px) {
  /* inverse bounce effect on even content blocks */
  .cd-timeline__block:nth-child(even) .cd-timeline__content.cd-timeline__content--bounce-in {
    -webkit-animation: cd-bounce-2-inverse 0.6s;
            animation: cd-bounce-2-inverse 0.6s;
  }
}

/*Modal Product Details styling*/

blockquote{
  padding: 10px 2px;
    margin: 0 0 20px;
    font-size: 13px;
    border-left: 3px solid #eee;
    min-height: 14em;
}
blockquote h4{
  padding: 10px 38px;
  color: #2C3491;
  font-weight: 600 !important;
}
blockquote ul li{
  list-style-type: none;
}


/*Modal Order timeline fade in styling*/
@media only screen  and (min-width : 1824px) {
.fadedScroller_fade {
  background: linear-gradient(to bottom, rgba(251, 251, 251, 0) 0%, rgb(255, 255, 255) 100%);
  height: 25em;
  line-height: 5em;
  position: fixed;
  top: 50%;
  margin-top: 35em;
  z-index: 11;
  margin-left: -2em;
}
}

@media only screen and (min-width: 1400px) {
.fadedScroller_fade {
  background: linear-gradient(to bottom, rgba(251, 251, 251, 0) 0%, rgb(255, 255, 255) 100%);
  height: 25em;
  line-height: 5em;
  position: fixed;
  top: 50%;
  margin-top: 12em;
  z-index: 11;
  margin-left: -2em;
}
}

@media only screen and (max-width: 1280px) and (max-width :1800px){
  .fadedScroller_fade {
    background: linear-gradient(to bottom, rgba(251, 251, 251, 0) 0%, rgb(255, 255, 255) 100%);
    height: 25em;
    line-height: 5em;
    position: fixed;
    top: 50%;
    margin-top: 12em;
    z-index: 11;

  }
  }

  @media only screen and (max-width: 1024px) {
    .fadedScroller_fade {
      background: linear-gradient(to bottom, rgba(251, 251, 251, 0) 0%, rgb(255, 255, 255) 100%);
      height: 40em;
      line-height: 5em;
      position: fixed;
      top: 50%;
      margin-top: 13em;
      z-index: 11;
      margin-left: -2em;
    }
    }

    @media only screen and (min-width: 768px)and (max-width :900px) {
      .fadedScroller_fade {
        background: linear-gradient(to bottom, rgba(251, 251, 251, 0) 0%, rgb(255, 255, 255) 100%);
        height: 15em;
        line-height: 5em;
        position: fixed;
        top: 50%;
        margin-top: 20em;
        z-index: 11;
        margin-left: -2em;
      }
      }
      @media only screen and (min-width: 320px) and (max-width :430px) {
        .fadedScroller_fade {
          background: linear-gradient(to bottom, rgba(251, 251, 251, 0) 0%, rgb(255, 255, 255) 100%);
          height: 25em;
          line-height: 5em;
          position: fixed;
          top: 50%;
          margin-top: 12em;
          z-index: 11;
          margin-left: -2em;
        }
        }